html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;

  background: #f5efe7;
  color: #213555;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.1rem;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  /* disable double click zoom */
  touch-action: manipulation;
}

header,
main,
footer {
  width: 90vw;
  max-width: 800px;
}

footer {
  font-size: 0.9rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0;
}

.title p {
  margin: 0;
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 1.3rem;
}

a {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  color: #213555;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.tutorial {
  line-height: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tutorial p {
  margin-bottom: 0;
  font-size: 1rem;
}

.sin-slavy-box {
  text-transform: uppercase;
  text-decoration: none;
  background: #3e5879;
  color: #f5efe7;
  /* border-radius: 3px; */
  padding: 0.7rem 1rem;
  cursor: pointer;
  margin: 1rem 0;
}

/* start control configuration */
.reset {
  font-size: 0.75rem;
}
.reset #reset,
#levelReset {
  cursor: pointer;
  text-decoration: underline;
}
.control {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
}
.level {
  position: relative;
  display: inline-block;
  background: #3e5879;
  padding: 15px 25px;
  font-size: 25px;
  height: 30px;
  line-height: 47px;
  font-weight: bold;
  /* border-radius: 3px; */
  color: #f5efe7;
  margin-top: 8px;
  text-align: center;
}

.level:after {
  content: "level";
  position: absolute;
  width: 100%;
  top: 10px;
  left: 0;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: #f5efe7;
}

.score {
  position: relative;
  display: inline-block;
  background: #3e5879;
  padding: 15px 25px;
  font-size: 25px;
  height: 30px;
  line-height: 47px;
  font-weight: bold;
  /* border-radius: 3px; */
  color: #f5efe7;
  margin-top: 8px;
  text-align: center;
}

.score:after {
  content: "score";
  position: absolute;
  width: 100%;
  top: 10px;
  left: 0;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: #f5efe7;
}

.time {
  position: relative;
  display: inline-block;
  background: #3e5879;
  padding: 15px 25px;
  font-size: 25px;
  height: 30px;
  line-height: 47px;
  font-weight: bold;
  /* border-radius: 3px; */
  color: #f5efe7;
  margin-top: 8px;
  text-align: center;
}

.time:after {
  content: "time";
  position: absolute;
  width: 100%;
  top: 10px;
  left: 0;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: #f5efe7;
}

/* end control configuration */

/* start game board */
.game {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: min-content;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.gameboard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-items: flex-start;
  flex-wrap: nowrap;
  background: #3e5879;
  /* border-radius: 0.3rem; */
  padding: 0.09rem;
}
.game-row,
.game-header-col {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.game-cell {
  font-size: 1.3rem;
  width: 3rem;
  height: 3rem;
  margin: 0.09rem;
  /* border-radius: 0.3rem; */
  background: #f5efe7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
}
.game-header-cell {
  font-size: 1.3rem;
  width: 3rem;
  height: 3rem;
  margin: 0.09rem;
  /* border-radius: 0.3rem; */
  background: #3e5879;
  color: #f5efe7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.game-header-col {
  padding: 0.09rem;
  background: #3e5879;
  width: min-content;
  /* border-radius: 0.3rem; */
  margin-top: 0.4rem;
}
.game-header-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0.09rem;
  background: #3e5879;
  width: min-content;
  /* border-radius: 0.3rem; */
  margin-left: 0.4rem;
}
.game-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.cell-use:after {
  content: "";
  border: #213555 3px solid;
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
}
.cell-not {
  color: #21355563;
}
.correct {
  color: #f5efe74f;
}
/* end game board */

/* start of responsive section */

@media only screen and (max-width: 480px) {
  .game-cell,
  .game-header-cell {
    font-size: 1.2rem;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.2rem;
    margin: 0.05rem;
  }
  .cell-use:after {
    border: #213555 2.5px solid;
    width: 1.8rem;
    height: 1.8rem;
  }
}

/* end of responsive section */

/* start of congratulation section */
.congratulation {
  position: absolute;
  width: 349.06px;
  height: 349.06px;
  background: #3e5879fb;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f5efe7;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  z-index: 100;
}
.congratulation .button {
  color: #3e5879;
  margin: 0.3rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  padding: 14px 20px;
  background-color: #f5efe7;
  cursor: pointer;
}

@media only screen and (max-width: 480px) {
  .congratulation {
    width: 287.84px;
    height: 287.84px;
    font-size: 1.3rem;
  }
  .congratulation .button {
    margin: 0.3rem;
    font-size: 0.8rem;
    padding: 10px 16px;
  }
}
/* end of congratulation section */

/* start of sign2hall section */
.sign2hall {
  position: absolute;
  width: 349.06px;
  height: 349.06px;
  background: #3e5879fb;
  border-radius: 0.3rem;
  color: #f5efe7;
  padding: 1rem;
  z-index: 101;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sign2hall .button {
  color: #3e5879;
  margin: 0.3rem;
  font-weight: 600;
  border-radius: 0.3rem;
  font-size: 1rem;
  padding: 10px 14px;
  background-color: #f5efe7;
  cursor: pointer;
}

.sign2hall .input {
  background: #f5efe7;
  width: 80%;
  margin-top: 1rem;
  border: none;
  border-radius: 0.3rem;
  font-family: "Roboto", Arial, sans-serif;
  padding: 0.3rem;
  color: #3e5879;
  font-weight: 600;
  outline: none;
  font-size: 1rem;
}

.sign2hall .buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sign2hall .status {
  text-align: center;
  width: 100%;
}

.sign2hall h2 {
  margin: 0;
}
.sign2hall p {
  margin-bottom: 0;
  font-size: 0.9rem;
}

@media only screen and (max-width: 480px) {
  .sign2hall {
    width: 287.84px;
    height: 287.84px;
    font-size: 1.4rem;
    padding: 0;
  }
  .sign2hall h2 {
    margin: 0.5rem 0.5rem;
    font-size: 1rem;
  }
  .sign2hall p {
    margin: 0.1rem 0.5rem;
    font-size: 0.8rem;
  }

  .sign2hall .input {
    font-size: 0.7rem;
    margin: 0.1rem 0.5rem;
  }
  .sign2hall .button {
    font-size: 0.8rem;
  }
  .sign2hall .status {
    font-size: 0.8rem;
  }
}
/* end of sign2hall section */

.hidden {
  display: none;
}

/* start the hall of throne style */
.hall h1 {
  margin-bottom: 0;
}
.hall h2 {
  margin-top: 0;
}
.hall p {
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 1.7rem;
}

.glory-list {
  width: 90vw;
  max-width: 800px;
}
.scoreHall {
  text-align: right;
}

.name {
  word-break: break-all;
}

.first {
  font-weight: 600;
  font-size: 1.3rem;
}
.top {
  font-weight: 500;
  font-size: 1.2rem;
}

.scoreLevel {
  font-size: 0.8rem;
}
/* end the hall of throne style */
