html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;

  background: #faf8ef;
  color: #776e65;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.1rem;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

header,
main,
footer {
  width: 90vw;
  max-width: 800px;
}

h1 {
  font-size: 3rem;
}

a {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  color: #776e65;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* start control configuration */
.control {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
}
.level {
  position: relative;
  display: inline-block;
  background: #bbada0;
  padding: 15px 25px;
  font-size: 25px;
  height: 30px;
  line-height: 47px;
  font-weight: bold;
  border-radius: 3px;
  color: #fff;
  margin-top: 8px;
  text-align: center;
}

.level:after {
  content: "level";
  position: absolute;
  width: 100%;
  top: 10px;
  left: 0;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: #eee4da;
}

.score {
  position: relative;
  display: inline-block;
  background: #bbada0;
  padding: 15px 25px;
  font-size: 25px;
  height: 30px;
  line-height: 47px;
  font-weight: bold;
  border-radius: 3px;
  color: #fff;
  margin-top: 8px;
  text-align: center;
}

.score:after {
  content: "score";
  position: absolute;
  width: 100%;
  top: 10px;
  left: 0;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: #eee4da;
}

.time {
  position: relative;
  display: inline-block;
  background: #bbada0;
  padding: 15px 25px;
  font-size: 25px;
  height: 30px;
  line-height: 47px;
  font-weight: bold;
  border-radius: 3px;
  color: #fff;
  margin-top: 8px;
  text-align: center;
}

.time:after {
  content: "time";
  position: absolute;
  width: 100%;
  top: 10px;
  left: 0;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: #eee4da;
}

/* end control configuration */

/* start game board */
.game {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: min-content;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.gameboard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-items: flex-start;
  flex-wrap: nowrap;
  background: #bbada0;
  border-radius: 0.3rem;
  padding: 0.25rem;
}
.game-row,
.game-header-col {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.game-cell {
  font-size: 1.3rem;
  width: 3rem;
  height: 3rem;
  margin: 0.25rem;
  border-radius: 0.3rem;
  background: #ede3d9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
}
.game-header-cell {
  font-size: 1.3rem;
  width: 3rem;
  height: 3rem;
  margin: 0.25rem;
  border-radius: 0.3rem;
  background: #eedac4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.game-header-col {
  padding: 0.25rem;
  background: #bbada0;
  width: min-content;
  border-radius: 0.3rem;
  margin-bottom: 0.4rem;
}
.game-header-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0.25rem;
  background: #bbada0;
  width: min-content;
  border-radius: 0.3rem;
  margin-left: 0.4rem;
}
.game-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.cell-use:after {
  content: "";
  border: #776e65 3px solid;
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
}
.cell-not {
  color: #776e655d;
}
.correct {
  color: #776e655d;
}

/* end game board */
